<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Checkout</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Order review</h1>
</div>
<div class="container">
    <div class="card mt-2 mb-2 card-top">
        <table>
            <tr>
                <td>Full Name:</td>
                <td th:text="${fullName}"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td th:text="${email}"></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td th:text="${phoneNumber}"></td>
            </tr>
            <tr>
                <td>Billing Address</td>
                <td th:text="${billingAddress}"></td>
            </tr>
            <tr>
                <td>Shipping Address</td>
                <td th:text="${shippingAddress}"></td>
            <tr>
            <tr>
            <td><a href="/index" ><button>Go to homepage!</button></a></td>
            <td><a href="/checkout" ><button>Edit shipping info!</button></a></td>
            <td><a href="/shoppingCart" ><button>Edit your cart!</button></a></td>
            <td><button >Pay!</button></td>
            </tr>
        </table>
    </div>
</body>
</html>