.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.middle
{
    margin-bottom: 80px;
}

.card-body
{
    background-color: #fff400;
}

.jumbotron
{
    background-color: #f9a01b;
    padding-top: 24px;
    padding-bottom: 24px;
}

body
{
    background-image: url('/static/img/background.png');
    background-repeat: repeat;
}

.card-top
{
    background-color: #fff400;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;

}

.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.filter-title
{
    text-align: center;
}

.logo
{
    width: 50%;
}

.product-image
{
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-height: 350px;
    max-width: 350px;

}

.cart-image
{
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    max-width: 100px;

}
.card-image
{
    width: 348px;
    height: 348px;
}

.cart-item
{
    background-color: white;
}

.cart-button
{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.cart-margin
{
    margin: auto;
    font-size: 30px;
}

.cart-button-2
{
    text-align: center;
    font-weight: bold;
    width: 300px;
    height: 50px;
    padding: 5px;
}